div(class="footer")
    div(class="row")
        div(class="container-footer")
            div(class="row")
                div(class="in_footer") Anishop. 2020-2021 All rights reserved.
        div(class="container-footer-block")
        ul(class="footer-list", style="list-style-type: none;") 
            li(class="footer-heading") WRITE US
            div(class="row")
                div(class="social telegram", style="background: #249bd7; color: #fff;")
                    a(href="https://t.me/anishopu_bot") <i class="fa fa-paper-plane fa-2x", style="color: #fff;"></i>
                div(class="social mail")
                    a(href="mailto:support:anishopu.ru") <i class="fas fa-envelope fa-2x", style="color: #000;"></i>
                //- a(href="https://www.bootstrapcdn.com/") <i class="fa fa-envelope"></i>
                //- </div>
                //- <div class="social youtube">
                //-     <a href="#" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
                //- </div>

script(src="//cdn.jsdelivr.net/npm/sweetalert2@10")
script(src='javascripts/nav.js')
script(src='javascripts/card.js')
include pag-function.html