div(class="footer")
    div(class="row")
        div(class="container-footer")
            div(class="row")
                div(class="in_footer") Anishop. 2020-2021 All rights reserved.
        div(class="container-footer-block")
        ul(class="footer-list", style="list-style-type: none;") 
            li(class="footer-heading") WRITE US
            div(class="row")
                li(class="social")
                    a(href="https:vk.com") <i class="fa fa-paper-plane fa-2x"></i>

script(src="//cdn.jsdelivr.net/npm/sweetalert2@10")
script(src='javascripts/nav.js')
script(src='javascripts/card.js')
include pag-function.html