include header.pug

div(class='wrap')
	div(class='content')
		header(class='site-header')
			include site_header
		h2 Results:	
		div(class='container')
			div(class='row')
				div(class="paginate 1")
					div(class="items row")
						each val, index in goods
							include card.pug
					include pagination.html
		
		include nav
	include footer
