* {
  font-family: sans-serif;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}


.wrap {
  background: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-center {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.site-header {
  height: 120px;
  padding: 20px 0;
  width: 100%;
}

.site-header h1 {
  display: inline-block;
}

.card-title{
  font-size: 25px;
}
.full-width {
  width: 100%;
  margin: 2px auto;
  padding: 0;
}

.name-of-shop {
  text-align: center;
}
.search-place{
  position: absolute;
}
/* -------- footer ---------*/
.footer{
  width: 100%;
}
.in_footer{
  text-align: start;
}
.footer-heading{
  text-align: center;
}
.container-footer{
  max-width: 1100px;
  margin-left: 20px;
  margin-right: 101px;
  padding: 30px 0;
}
.container-footer-block{
  width: 700px;
  margin-left: 20px;
  margin-right: 101px;
  padding: 30px 0;
}
.footer-list{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  font-size: 20px;
}
/*---------- card ----------*/
.card {
  border: 1px solid #dedede;
  margin: auto;
  /* max-width: 100%;
  max-height: 90%; */
  height: 500px;
}

.card-images {
  display: block;
  margin: 1px auto;
  max-width: 150%;
  max-height: 240px;
  margin-right: auto;
  padding-right: inherit;
}

/*---------- good -------*/
.goods-big-images{
  display: block;
  margin-left: 2px auto;
  height: 100%;
  max-width: 100%;
  max-height: 400px;
}
.shop-name-card{
  margin-left: 15px;
}
/*---------- navigation ----------*/
.site-nav {
  width: 300px;
  min-height: 100vh;
  max-height: 200px;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 999999;
  padding: 10px;
  transition: all ease ls;
  color: #fff;
  background-color: #42a5f5;
}
.prokrutka{
  overflow-y: scroll;
}
.clode-buttom-div{
  text-align: right;
}
.show-nav {
  position:absolute;
  left: 10px;
}
.button-search{
  background-color: #2ba61f;
  margin-top: 15px;
}

ul.category-list a {
  list-style-type: disc;
  color: #dedede;
  font-style: italic;
  font-size: 25px;
}
ul.shop-list a {
  list-style-type: disc;
  color: #dedede;
  font-style: italic;
  font-size: 25px;
}
.site-nav a{
  color: #424242
}

/* ------- agreement ----- */
.center-box{
  text-align: center;
}


.swal2-confirm{
  margin: .3125em;
  box-shadow: none;
  font-weight: 500;
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #2778c4;
  color: #fff;
  font-size: 1.0625em;
}

section {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}

/* -------- pagination -------- */
/* .items div {
  border: 1px solid gray;
	margin: 5px;
	padding: 10px;
} */

.pager div{
	float: left;
	border: 1px solid gray;
	margin: 5px;
	padding: 10px;
}

.pager div.disabled{
	opacity: 0.25;
}

.pager .pageNumbers a{
	display: inline-block;
	padding: 0 10px;
	color: gray;
}

.pager .pageNumbers a.active{
  color: orange;
}

.pager {
	overflow: hidden;
}

.paginate-no-scroll .items div{
	height: 250px;
}